@font-face {
    font-family: spotify-Bold;
    src: url(fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-Regular;
    src: url(fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-txt;
    src: url(fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 18, 18);
}

header {
    /* height: 56px; */
    background-color: #000;
    padding: 16px 16px 8px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.product-container{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
}

.menu-section {
    display: flex;
}

.open-app {
    border-radius: 9999px;
    background-color: #fff;
    border: #fff;
    height: 32px;
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 700;
    font-family: spotify-txt;

    transform: translateY(-4px);
}

.menu-button img{
    margin-left: 16px;
}

/* .product-container {
    padding: 0px 16px;
} */

.product-heading {
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 16px;
}

.product-heading h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: spotify-txt;
}

.add-scroll {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.product-profile {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.product-profile:nth-child(1) {
    padding: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}


.product-img {
    width: 152px;
    border-radius: 4px;
    height: 152px;
    object-fit: cover  ;
}

.product-name {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: spotify-regular;
    padding-top: 8px;
}

footer {
    padding: 8px 16px 132px;
}

.top-footer {
    margin-top: 32px;
}

.footer-content {
    display: flex;
    flex-flow: column wrap;
}

.add-section {
    margin-bottom: 40px;
}

.add-section p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: spotify-Bold;
}

.add-section li {
    color: rgb(179, 179, 179);
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    list-style: none;
}
.social-media {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 16px;
}
.media-logos button {
    width: 40px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spotify-licence {
    padding-top: 38px;
}
.spotify-policy {
    display: flex;
    flex-wrap: wrap;
    
}
.policy-content {
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 400;
    font-family: spotify-regular;
    margin: 0 16px 8px 0;
}
.spotify-policy div:nth-child(n+1):nth-child(-n+3) {
    margin: 0 16px 10px 0;
}
.spotify-copyright{
    display: flex;
    align-items: end;
}
.copy-content {
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 400;
    font-family: spotify-regular;
    padding-right: 16px;       
}
.language {
    padding-top: 16px;
}
.language button {
    background-color: transparent;
    border: 1px solid #818181;
    padding:4px 16px 4px 12px;
    color: #fff;
    border-radius: 9999px;
    align-items: center;
    display: flex;
    gap: 8px;
    font-family: spotify-Bold;
    font-size: 13px;
    font-weight: 700;
    height: 32px;
}
@media screen and (min-width:768px) {
    .footer-content{
        flex-direction: row;
    }
    .add-section {
        width: 40%;
        margin-right: 24px;
    }
    .policy-content {
        margin-bottom: 8px !important;
    }
}
 @media screen and (min-width:992px) {
    footer {
        padding:8px 32px 132px;
    }
    .footer-content {
        flex-wrap: nowrap;
         flex: 1 1 50%; 
    }
    .add-section {
        width: 20%;
    }
    .top-footer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .language {
        display: none;
    }
    .spotify-licence {
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
} 