@font-face {
  font-family: spotify-Bold;
  src: url(fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
  font-family: spotify-Regular;
  src: url(fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: spotify-txt;
  src: url(fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  margin-top: 63px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header-mobile-view {
  background-color: #000;
  padding: 12px 16px 12px;
  display: flex;
  justify-content: space-between;
}

.spotify-logo {
  padding-top: 4px;
}

.menu-section {
  display: flex;
}

.open-app {
  border-radius: 50px;
  background-color: #fff;
  border: #fff;
  height: 32px;
  padding: 4px 16px;
  font-size: 13px;
  font-weight: 700;
  font-family: spotify-Bold;
}

.menu-button img {
  margin-left: 16px;
  padding-top: 4px;
}

.header-tab-view {
  display: none;
}

.song-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #121212;
  border-right: 8px;
}

.song-heading {
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 16px;
}
.title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: spotify-txt;
}

.cards-scroll {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.song-profile {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.song-profile:nth-child(1) {
  margin-left: 8px;
}

.song-img {
  width: 152px;
  border-radius: 4px;
  height: 152px;
  object-fit: cover;
}

.song-name {
  color: #fff;
  font-size: 16px;
  font-family: spotify-regular;
}

.mobile-bottom-navigation {
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9), #121212);
  display: flex;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  height: 70px;
}

.mobile-bottom-navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 4px;
  justify-content: center;
}

.mobile-bottom-navigation a:nth-child(1) .nav-text{
  color: #fff;
}

.nav-text {
  font-size: 11px;
  font-family: spotify-Regular;
  color: #b3b3b3;
}

.side-library {
  display: none;
}
  
@media screen and (min-width: 960px) {
  .header-mobile-view {
    display: none;
  }

  .header-tab-view {
    background-color: #000;
    padding: 8px 8px 8px 12px;
    display: flex;
    height: 48px;
  }

  .add-logo {
    margin-inline: 16px;
    margin-top: 8px;
  }

  .home-search {
    display: flex;
    min-width: auto;
    width: 100%;
    gap: 8px;
  }

  .search-btn {
    background-color: #1f1f1f;
    border-radius: 50px;
    border: transparent;
    padding: 12px;
    height: 48px;
    display: flex;
  }

  .home-btn {
    margin-left: 12px;
    background-color: #1f1f1f;
    border-radius: 50%;
    border: transparent;
    padding: 12px;
    height: 48px;
  }

  .spotify-supports {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .supports-content {
    display: flex;
    color: #b3b3b3;
    font-weight: 700;
    font-family: spotify-Bold;
    font-size: 16px;
    padding: 8px 0px;
    text-decoration: none;
  }

  .vertical-line {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
  }

  .install-app-btn {
    color: #b3b3b3;
    font-size: 14px;
    font-family: spotify-Regular;
    font-weight: 700;
    display: flex;
    text-wrap: nowrap;
    gap: 8px;
    padding: 4px 16px 4px 13px;
    border: none;
    background-color: transparent;
  }

  .main-login {
    display: flex;
    align-items: center;
  }

  .signup-btn {
    padding: 4px 16px 4px 8px;
    color: #b3b3b3;
    font-size: 14px;
    font-family: spotify-Regular;
    font-weight: 700;
    text-wrap: nowrap;
    background-color: transparent;
    border: none;
  }

  .login-btn {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 48px;
    padding: 8px 31px;
    text-wrap: nowrap;
    font-size: 16px;
    font-family: spotify-Bold;
    font-weight: 700;
  }

  .search-bar {
    display: none;
  }

  .content-layout {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .mobile-bottom-navigation{
    display: none;
  }

  .header {
    display: flex;
    padding: 16px 16px 8px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .side-library {
    display: block;
    min-width: 280px;
    border-radius:8px;
    background-color: #121212;
    margin-left: 8px;
  }

  .library-heading h1{
    margin-inline-start: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: spotify-txt;
    text-wrap: nowrap;
  }

  .add-button button {
    background: transparent;
    border: none;
    padding: 8px;
  }

  .song-container {
    border-radius: 8px;
  }

}

@media screen and (min-width: 1069px) {
  .search-btn {
    width: 100%;
  }

  .search-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .search-icon {
    padding-right: 12px;
  }

  input {
    background-color: transparent;
    border: none;
    padding-top: 4px;
  }

  input::placeholder {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: spotify-Regular;
    font-size: 16px;
    font-weight: 400;
    color: #b3b3b3;
    width: 100%;
  }

  .browse-btn img {
    padding: 0 4px 0px 12px;
    border-left: 1px solid #7c7c7c;
  }

  .search-btn {
    margin-right: 7px;
  }
}

@media screen and (min-width: 1723px) {
  .search-btn {
    width: 474px;
  }

  .home-search {
    position: absolute;
    justify-content: center;
    left: 0;
    right: 0;
    flex: 1;
    align-items: center;
    padding-right: 8px;
  }

  .header-tab-view {
    justify-content: space-between;
  }

  .search-btn {
    margin-right: 12px;
  }
}
