@font-face {
    font-family: spotify-Bold;
    src: url(fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-Regular;
    src: url(fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-txt;
    src: url(fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
}

header {
    width: 100%;
    position: fixed;
    top: 0;

}

.header-mobile-view {
    background-color: #000;
    padding: 12px 16px 12px;
    display: flex;
    justify-content: space-between;
}

.spotify-logo {
    padding-top: 4px;
}
.menu-section {
    display: flex;
}

.open-app {
    border-radius: 50px;
    background-color: #fff;
    border: #fff;
    height: 32px;
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 700;
    font-family: spotify-Bold;
}

.menu-button img{
    margin-left: 16px;
    padding-top: 4px;
}

.header-tab-view {
    display: none;
}

@media screen and (min-width:960px) {
    .header-mobile-view {
        display: none;
    }

    .header-tab-view {
        background-color: #000;
        padding: 8px 8px 8px 12px;
        display: flex;
        height: 48px;
    }

    .add-logo {
        margin-inline: 16px;
        margin-top: 8px;
    }

    .home-search {
        display: flex;
        min-width: auto;
        width: 100%;
    }

    .home-search button {
        background-color: #1f1f1f;
        border-radius: 50%;
        border: transparent;
        padding: 12px;
        height: 48px;
    }

    .home-btn {
        margin-left: 12px;
    }

    .search-bar {
        padding: 0 8px;
        width: 100%;
    }

    .spotify-supports{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .supports-content {
        display: flex;
        color: #b3b3b3;
        font-weight: 700;
        font-family: spotify-Bold;
        font-size: 16px;
        padding: 8px 0px;
        text-decoration: none;
    }

    .vertical-line {
        background: #fff;
        height: 25px;
        margin: 16px;
        width: 1px;
    }

    .install-app-btn {
        color: #b3b3b3;
        font-size: 14px;
        font-family: spotify-Bold;
        font-weight: 700;
        display: flex;
        text-wrap: nowrap;
        gap: 8px;
        padding: 4px 16px 4px 13px;
        border: none;
        background-color: transparent;
    }

    .main-login {
        display: flex;
        align-items: center;
    }
    
    .signup-btn {
        padding: 4px 16px 4px 8px;
        color: #b3b3b3;
        font-size: 14px;
        font-family: spotify-txt;
        font-weight: 700;
        text-wrap: nowrap;
        background-color: transparent;
        border: none;
    }

    .login-btn {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        height: 48px;
    }

    .login-btn span {
        padding: 8px 31px;
        text-wrap: nowrap;
        font-size: 16px;
        font-family: spotify-Bold;
        font-weight: 700;
    }
}

